<ng-container *ngIf="(auth.user | async) || {} as user">
    <div class="normalhead bg-report text-secondary ">
      <app-business-credit *ngIf="user.businessId" [businessId]="user.businessId">
      </app-business-credit>
    </div>
</ng-container>
