<div class="smallhead bg-primary text-white ">
  <div class="container">
    <h2 class="text-center" *ngIf="total > 0; else elseBlock"> {{ total }} Results Found!</h2>
    <ng-template #elseBlock>
       <h2>
        No Result Found, Please Try Again.
      </h2>
     </ng-template>
    <br>
    <div *ngFor="let business of searchResults">
      <div class="row">
        <div class="col-md-2">
          <img class="resultImage"
            [src]='business.image_url' >
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col">
              <i class="fa fa-address-book"></i>
              <span><strong> {{ business.name }}</strong></span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <app-star [rating] = "business.rating"></app-star>
            </div>
          </div>

            <div class="row">
              <div class="col">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span> {{ business.display_phone }} </span>
              </div>
            </div>

              <div class="row">
                <div class="col">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span *ngFor="let address of business.location.display_address">
                      {{ address }}
                    </span>
                </div>
              </div>

          <div class="row">
            <div class="col-md-4 offset-md-8">
              <button class="btn btn-sm btn-warning btn-block resultBtn">
                <strong>
                  <a [routerLink]="['/search', 'result', business.id]">
                    Reputation Report
                  </a>
                </strong>
              </button>
            </div>
          </div>

        </div>

        <hr>

    </div>
  </div>
</div>