.resultImage {
    width: 150px;
    margin: 2px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#2C3E50;
    height: 3px;
  }

.resultBtn {
    margin-top: 10px;
    margin-bottom: 5px;
}

.resultBtn a {
    color: #2C3E50;
}