<header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="assets/images/profile.png" alt="">
      <h1 class="text-uppercase mb-0">Service Choice</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">FIND THE MOST RELIABLE SERVICE ONLINE</h2>
    </div>
</header>

