  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 offset-md-4">

            <form [formGroup]="userForm"  *ngIf="newUser"  (ngSubmit)="signup()">

                <h3>New User Signup</h3>
                <button class="btn btn-sm btn-info" (click)="toggleForm()">Already Registered?</button>
                <hr>
              
                <div class="row form-group">
                  <div class="col">
                      <label for="email" class="sr-only">Email</label>
                      <input type="email" 
                             id="email"
                             placeholder="Email"
                             class="form-control"
                             formControlName="email"
                             required >
                    
                      <div *ngIf="formErrors.email" class="help-block">
                        {{ formErrors.email }}
                      </div>
                  </div>
                </div>
                
              <div class="row form-group">
                <div class="col">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" 
                           id="password" 
                           placeholder="Password"
                           class="form-control"
                           formControlName="password" 
                           required >
                  
                    <div *ngIf="formErrors.password" class="help-block">
                      {{ formErrors.password }}
                    </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col">
                    <label for="businessId" class="sr-only">BusinessId</label>
                    <input type="text" 
                           id="businessId" 
                           placeholder="BusinessId"
                           class="form-control"
                           formControlName="businessId" 
                           required >
                </div>
              </div>
                
              
                <div *ngIf="userForm.valid" >Form is valid</div>
                <button type="submit" 
                        class="btn btn-lg btn-warning btn-block" 
                        [disabled]="!userForm.valid">
                        <i *ngIf="processing" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                        Register!
                </button>
              
              </form>
           
            
            <form [formGroup]="userForm"  *ngIf="!newUser"  (ngSubmit)="login()">
            
              <h3>Existing User Login</h3>
              <button class="btn btn-sm btn-warning" (click)="toggleForm()">New User?</button>
              <hr>
            <div class="row form-group">
              <div class="col">
                  <label for="email" class="sr-only">Email</label>
                  <input type="email" 
                         id="email" 
                         placeholder="Email"
                         class="form-control"
                         formControlName="email" 
                         required >
                
                  <div *ngIf="formErrors.email" class="help is-danger">
                    {{ formErrors.email }}
                  </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col">
                  <label for="password" class="sr-only">Password</label>
                  <input type="password" 
                         id="password" 
                         placeholder="Password"
                         class="form-control"
                         formControlName="password" 
                         required >
              </div>
            </div>
            
              <div *ngIf="formErrors.password" class="help-block">
                {{ formErrors.password }}
              </div>
           
              <button type="submit" 
                      class="btn btn-lg btn-warning btn-block" 
                      [disabled]="!userForm.valid">
                      <i *ngIf="processing" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                      Login
              </button>
            
              <div *ngIf="userForm.valid" >Form is Valid</div>
            
              <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
              <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>
            
            </form>
 
            </div>
          </div>
           
        </div>
      </div>
    </div>
  </div>
