    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ title }}</a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/about']">ABOUT</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/search']">SEARCH</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1" *ngIf="auth.user | async" >
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/profile']">BUSINESS PROFILE</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1" *ngIf="!(auth.user | async); else logOut" >
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/login']">BUSINESS LOGIN</a>
              </li>
              <ng-template #logOut>
                <li class="nav-item mx-0 mx-lg-1" >
                  <button class="btn btn-md btn-warning" (click)="signout()">
                    <span *ngIf="processing; else logoutText" ><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></span>
                    <ng-template #logoutText>
                      Logout
                    </ng-template>
                  </button>
                </li>
              </ng-template>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <router-outlet></router-outlet>
      </div>

          <!-- Footer -->
    <footer class="footer text-center">
            <div class="container">
              <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">Location</h4>
                  <p class="lead mb-0">55 Standish Court
                    <br>Mississauga</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">About Us</h4>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                        <i class="fa fa-fw fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                        <i class="fa fa-fw fa-google-plus"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                        <i class="fa fa-fw fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                        <i class="fa fa-fw fa-linkedin"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                        <i class="fa fa-fw fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4 class="text-uppercase mb-4">About ServiceChoice</h4>
                  <p class="lead mb-0">Service Choice is FREE to use, powered by
                    <a href="http://www.finastra.com">Finastra</a>.</p>
                </div>
              </div>
            </div>
          </footer>
