<div class="normalhead bg-report text-secondary ">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1>Reputation Report</h1>
      </div>
    </div>
    <hr class="star-dark">
    <div class="row text-center">
        <div class="col">
          <h3>{{ currentBusiness.name }}</h3>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
          <p>BusinessId: {{ currentBusiness.id }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 offset-md-3">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span> {{ currentBusiness.display_phone }} </span>
        </div>
      </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">
          <i class="fa fa-home" aria-hidden="true"></i>
          <span *ngFor="let address of currentBusiness.location.display_address">
            {{ address }}
          </span>
      </div>
    </div>

    <hr/>

    <div class="text-center">
        <h1>Customer Rating <sup>1</sup></h1>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4 text-center">
        <h1 class="report-customer-rating"> {{ currentBusiness.rating }} </h1>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="progress">
                <div 
                      class="progress-bar bg-success" 
                      role="progressbar" 
                      [style.width.%]="customerRatingPercent"
                      aria-valuenow="25" 
                      aria-valuemin="0" 
                      aria-valuemax="100"></div>
              </div>
        </div>
      </div>
        
    <hr/>

    <div class="text-center">
      <h1>BBB Rating <sup>2</sup></h1>
    </div>
    <div class="text-center">
        <h1 class="report-bbb-rating">{{ bbbCreditRating }}</h1>
      </div>
      
    <hr>
    <div class="row">
      <div class="col-md-4 offset-md-3">
        <button (click)="backBtnClicked()" class="btn btn-info"> <i class="fa fa-chevron-left"></i> Back</button>
      </div>
    </div>
  </div>
</div>
    