<div class="container">
        <div class="row text-center">
          <div class="col">
            <h1>Business Profile</h1>
          </div>
        </div>
        <hr class="star-dark">
        <div class="row text-center">
            <div class="col">
              <h3>{{ businessInfo.name }}</h3>
            </div>
          </div>
    
        <div class="row">
            <div class="col-md-3 offset-md-3">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span> {{ businessInfo.phone }} </span>
            </div>
          </div>
    
        <div class="row">
          <div class="col-md-6 offset-md-3">
              <i class="fa fa-home" aria-hidden="true"></i>
              <span *ngFor="let address of businessInfo.location.display_address">
                {{ address }}
              </span>
          </div>
        </div>
    
        <hr/>
    
        <div class="text-center">
            <h1>Customer Rating <sup>1</sup></h1>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4 text-center">
            <h1 class="report-customer-rating"> {{ businessInfo.rating }} </h1>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="progress">
                    <div 
                          class="progress-bar bg-success" 
                          role="progressbar" 
                          [style.width.%]="businessInfo.rating*20"
                          aria-valuenow="25" 
                          aria-valuemin="0" 
                          aria-valuemax="100"></div>
                  </div>
            </div>
          </div>
            
        <hr/>
    
        <div class="text-center">
                <h1>BBB Rating<sup>2</sup></h1>
            </div>
            <div class="row">
              <div class="col-md-4 offset-md-4 text-center">
                <h1 class="report-bbb-rating"> {{ bbbRating }} </h1>
              </div>
            </div>
               
            <hr/>


        <div class="text-center">
          <h1>Credit Score <sup>3</sup></h1>
        </div>
        <div class="text-center">
            <h1 class="report-credit-rating">{{ creditScore }}</h1>
          </div>
        <div class="row">
          <div class="col-md-6 offset-md-3">
              <div class="progress">
                  <div 
                        class="progress-bar bg-success" 
                        role="progressbar" 
                        [style.width.%]="creditScore"
                        aria-valuenow="25" 
                        aria-valuemin="0" 
                        aria-valuemax="100"></div>
                </div>
          </div>
        </div>
      </div>