<div class="normalhead bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <h4>Address: 55 Standish Court, Mississauga, ON</h4>
        <h4>Phone: +1 (647)-862-8892</h4>
        <h4>Email: yang.wang@finastra.com</h4>
      </div>
    </div>
  </div>
</div>