<div class="normalhead bg-primary text-white ">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <form class="form-signin"
                (ngSubmit)="navigateToResult()"
                [formGroup]="searchForm">
              <img class="mb-4" src="assets/images/profile.png" alt="" width="72" height="72">
              <h1 class="h3 mb-3 font-weight-normal">FIND THE BEST SERVICE</h1>
              <hr class="star-light">

              <div class="form-group"
                   [ngClass]="{'has-error': (searchForm.get('term').touched || searchForm.get('term').dirty) && !searchForm.get('term').valid}">
                  <label for="businessName" class="sr-only">Keywords</label>
                  <input type="text" 
                        id="businessName" 
                        class="form-control" 
                        placeholder="Keyword" 
                        formControlName="term"
                        required 
                        autofocus>
                  <span class="help-block" *ngIf="(searchForm.get('term').touched || searchForm.get('term').dirty) && !searchForm.get('term').valid">
                    Keyword is required.
                  </span>
              </div>

              <div class="form-group"
                   [ngClass]="{'has-error': (searchForm.get('city').touched || searchForm.get('city').dirty) && !searchForm.get('city').valid}">
                  <label for="cityName" class="sr-only">City</label>
                  <input type="text" 
                        id="cityName" 
                        class="form-control" 
                        placeholder="City" 
                        formControlName="city"
                        required>
                  <span class="help-block" *ngIf="(searchForm.get('city').touched || searchForm.get('city').dirty) && !searchForm.get('city').valid">
                    City is required.
                  </span>
              </div>

              <div class="form-group"
                   [ngClass]="{'has-error': (searchForm.get('state').touched || searchForm.get('state').dirty) && !searchForm.get('state').valid}">
                  <label for="state" class="sr-only">State</label>

                  <select id="state"
                          class="form-control"
                          formControlName="state">
                    <option value="">State </option>
                    <option *ngFor="let state of stateList" [value]="state">{{ state }}</option>
                  </select>
                  <span class="help-block" *ngIf="(searchForm.get('state').touched || searchForm.get('state').dirty) && !searchForm.get('state').valid">
                    State is required.
                  </span>
              </div>
              
              <div class="form-group">
                    <label for="postalcode" class="sr-only">Postal Code</label>
                    <input type="text" 
                          id="postalcode" 
                          class="form-control" 
                          formControlName="zip_code"
                          placeholder="Postal Code(optional)" >

              </div>

              <p></p>
              <button class="btn btn-lg btn-warning btn-block" 
                      type="submit"
                      [disabled]="!searchForm.valid">
                      <i *ngIf="processing" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                      GO!
              </button>
              <!-- <button class="btn btn-lg btn-warning btn-block" >
                <a [routerLink]="['/search', 'result']"
                   [queryParams]="{filterBy: listFilter, showImage: showImage}">
                  GO!
                </a>
              </button> -->
          </form>
        </div>
      </div>

    </div>
  </div>