<div class="normalhead bg-primary text-white">
  <div *ngIf="!(auth.user | async); else alreadyLoggedIn">

      <app-userform></app-userform>

  </div>

  <ng-template #alreadyLoggedIn>
    <p class="text-success">
      Already logged in!
    </p>
  </ng-template>
</div>